/* .card{
    background-color: #e8e5de;
    padding: 20px;
    margin-top: 20px;
    padding-bottom: inherit;

}
.card p{
    text-align: left;
    color: #282c34;
}
.card h2{
    text-align: left;
    color: #021418;
}
.card h4{
    text-align: right;
    color: #021418; */

body{
    background-color: #defcfa;
}